.container1, .container2{
    background-color: white;
    width: 350px;
    height: 300px;
    border: 7px solid #F5C23E;
    margin: 10px 50px;
    
  
    
}

.container1 img:hover, .container2 img:hover{
    background-color: white;
    cursor: pointer;
    transform:scale(1.2);
    transition: all;
    border: 7px solid #F5C23E;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container1 img, .container2 img{
width: 350px;
height: 300px;

}

.container-battle{
    display: flex;
    justify-content: center;
    align-items: center;
}


.description{ 
    color: #F5C23E;
    text-transform: uppercase;
    margin-top: 5px;
    background-color: black;
    border: 3px solid black ;
    border-radius: 20px;
}

.voteresult{
    background-color: #F5C23E;
    margin-top: 10px;
    border: 2px solid #F5C23E;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    width: auto;
}

.match-btn{
    margin-top: 30px;
  background-color: black;
    color: #F5C23E;
    border-radius: 50px;
  text-align: center;
  padding: 14px 56px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #F5C23E;
  cursor: pointer;
}

.match-btn:hover{
    background-color: #F5C23E;
    color: black; 
    border-radius: 50px;
    }