h2{
    color: #F5C23E;
    text-transform: uppercase;
}



.img-style{
    margin-top: 30px ;
    width: 500px;
    
}

.full-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.begin-btn{
    margin-top: 30px;
    background-color: black;
      color: #F5C23E;
      border-radius: 50px;
    text-align: center;
    padding: 14px 56px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #F5C23E;
    cursor: pointer;
  }
  
  .begin-btn:hover{
      background-color:#F5C23E;
      color: black; 
      border-radius: 50px;
      }